# Hactiv8  Phyton for Data Science - Sesi 1

Di sesi 1:

    * Python Introduction
    * Phyton Data Type
    * Variable

### Phyton Basic Data Types

### Integer

In [1]:
1

1

In [3]:
print(1)
print(type(1))

1
<class 'int'>

### Floating Point

In [7]:
print(4.2)
print(type(4.2))

print(.4e7)
print(3.4e-4)

print(.2)

4.2
<class 'float'>
4000000.0
0.00034
0.2

### String

In [9]:
print('Hactiv8 Batch 36')
print(type('Hactiv8 Batch 36'))

Hactiv8 Batch 36
<class 'str'>

In [10]:
print('')

print("Let's")

Let's

In [12]:
print(2)

2

### Boolean

In [14]:
True

True

In [15]:
False

False

In [16]:
print (type(True))
print (type('True'))

<class 'bool'>
<class 'str'>

## Variabel

In [17]:
beefPizza = 5

In [18]:
print(beefPizza)

5

In [19]:
beefPizza = 10

In [20]:
print(beefPizza)

10

In [21]:
chikenPizza = beefPizza = 5

In [22]:
print(chikenPizza, beefPizza)

5 5

In [23]:
beefPizza = 'kosong'

In [24]:
print(chikenPizza, beefPizza)

5 kosong

In [25]:
nama = 'Hactiv8'
Umur = 26
punya_laptop = True

print(nama,Umur,punya_laptop)

Hactiv8 26 True

In [26]:
9_bola_naga = True

SyntaxError: invalid token (<ipython-input-26-5667443eb5c2>, line 1)

In [27]:
bola_naga_9 = True

In [28]:
umur = 1
Umur = 2
UMUR = 3
uMur = 4
um_ur = 5
_umur = 6

print(umur,Umur,UMUR,uMur,um_ur,_umur)

1 2 3 4 5 6

## Operators and Expression

In [32]:
a = 10
b = 20
print (a + b)

30

In [33]:
a + b * 240

4810

### Aritmetic Operator

In [48]:
a = 4
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b) # nilai bagi selalu foating atau koma koma
print(a % b)
print(a ** b)

6
2
8
2.0
0
16

### Comparison Operator

In [40]:
a = 4
b = 2

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
False
True

### String manioulation

In [43]:
# + operator

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print ('Hactiv8' + 'batch36')

foobar
foobarbaz
Hactiv8batch36

In [47]:
# + operator


s = 'foo_'
print(s * 8)

foo_foo_foo_foo_foo_foo_foo_foo_

In [46]:
# in operator

s = 'foo'
print(s in 'That food for us')
print('foo' in 'That good for us')

True
False

In [51]:
# Case Conversion

s = 'HaCtIv8 Batch 36'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hactiv8 batch 36
hactiv8 batch 36
hAcTiV8 bATCH 36
Hactiv8 Batch 36
HACTIV8 BATCH 36

## Phyton Lists

In [52]:
a = ['foo', 'bar', 'baz', 'qux']

print (a)

['foo', 'bar', 'baz', 'qux']

In [53]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [54]:
a = [21.42, 'foodbar', 3, 4, 'bar', False, 3.14]

print(a)

[21.42, 'foodbar', 3, 4, 'bar', False, 3.14]

In [55]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [59]:
print (a[0])
print (a[5])

foo
corge

In [61]:
print (a[-1])
print (a[-6])

corge
foo

In [66]:
# Slicing = list [start:stop:step]
# start itu angka diikutin, kalo stop angka tersebut tidak diikutin makanya hasil dibawah 'qux' tidak keluar

print (a)
print (a[1:3])
print (a[0:4:2])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['bar', 'baz']
['foo', 'baz']

In [67]:
# Concatenation and Replication

print (a)

print(a + ['list1','list2'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'list1', 'list2']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [70]:
# Len, min, max
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [72]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

print(a[2])

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
baz
['foo', 'bar', 10, 'qux', 'quux', 20]

In [73]:
print(a)

del a[2]

['foo', 'bar', 10, 'qux', 'quux', 20]

In [74]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print (a[1:4])

a[1:4] = [1, 2, 3, 4, 5, 6]

['bar', 'baz', 'qux']

In [75]:
print(a)

['foo', 1, 2, 3, 4, 5, 6, 'quux', 'corge']

## Tuples

In [76]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [77]:
print(t[0])
print(t[-1])

foo
corge

In [79]:
t[0] = 'newValue'
# sekali udah di deklarasikan tidak bisa dihgganti/imutable

TypeError: 'tuple' object does not support item assignment

In [81]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## Dictionary

In [83]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

In [86]:
print(MLB_team['Minnesota'])
print(MLB_team['Seattle'])

Twins
Mariners

In [87]:
# MLB_team['Toronto'] 
# error

In [88]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [89]:
MLB_team['Kansas City'] = 'Royals'

In [90]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [91]:
MLB_team['Colorado'] = 'Persija'

In [92]:
print(MLB_team)

{'Colorado': 'Persija', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [93]:
del MLB_team['Colorado']

In [94]:
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [95]:
person = {}

In [96]:
person

{}

In [97]:
person['fname'] = 'Hactiv8'

In [98]:
person

{'fname': 'Hactiv8'}

In [99]:
person['lname'] = 'Batch 36'

In [100]:
person

{'fname': 'Hactiv8', 'lname': 'Batch 36'}

In [101]:
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [102]:
person

{'fname': 'Hactiv8',
 'lname': 'Batch 36',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [107]:
print(person['fname'])
print(person['age'])

Hactiv8
51

In [109]:
print(person['children'])
print(person['children'][0])

['Ralph', 'Betty', 'Joey']
Ralph

In [111]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [112]:
d = {'a': 10, 'b': 20, 'c': 30}

In [113]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [114]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [115]:
d.values()

dict_values([10, 20, 30])